<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Hello <%= @user.first_name %> <%= @user.last_name %>!</h1>

    <p>
      Your account "<%= @user.email %>" has been approved!
    </p>
    <p>
      Check out our new courses and your profile at <a href=<%= ENV['PROFILE_URL'] %>><%= ENV['PROFILE_URL'] %></a>
    </p>
    <p>Enjoy! </p>
  </body>
</html>
