Hello <%= @user.first_name %> <%= @user.last_name %>!

Your account "<%= @user.email %>" has been approved!

Check out our new courses and your profile at <a href=<%= ENV['PROFILE_URL'] %>><%= ENV['PROFILE_URL'] %></a>

Enjoy! 