<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %> <%= @user.last_name %> welcome at Form You!</h1>
    <p>
      You have used the following email: "<%= @user.email %>" to register.
    </p>
    <p>
      An administrator is reviewing your registration. You will recieve a new mail as soon as you've been approved.
    </p>
    <p>Enjoy the available informations on courses at <a href=<%= @url %>>Form You</a></p>
    <p>Your Profile will be at <a href=<%= ENV['PROFILE_URL'] %>><%= ENV['PROFILE_URL'] %></a></p>
    <p>Cheers and visit us soon!</p>
  </body>
</html>